body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(54, 51, 51);
}
.contaienrMain {
    background: rgb(42, 39, 39);
    border-radius: 12px;
    padding: 2rem 3rem 2rem 3rem;
    display: grid;
    text-align: center;
    row-gap: 3rem;
}
.containerInput {
    background: rgb(63, 61, 61);
    padding: .5rem;
    border-radius: .3rem;
}
.inputLetters {
    outline: none;
    border: none;
    border-bottom: 1px solid #fefefe;
    background: transparent;
    font-size: 2rem;
    text-align: center;
    padding: 0 2rem .5rem 2rem;
    color: #c0bdbd;
}
.testTyping {
    background: rgb(69, 66, 66);
    border-radius: 8px;
    padding: 1.5rem;
}
#text {
    color: #fefefe;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
.buttonsFunction {
    background: rgb(49, 47, 47);
    padding: .5rem;
    border-radius: 8px;
}
.btns {
    padding: .5rem;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 8px;
    background: transparent;
    color: #fefefe;
    border: 1px solid #fefefe;
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
}
.btns:hover {
    background: #fefefe;
    color: rgb(72, 71, 71);    
}