body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(54, 51, 51);
}
.contaienrMain {
    background: rgb(42, 39, 39);
    border-radius: 12px;
    padding: 2rem 3rem 2rem 3rem;
    display: grid;
    text-align: center;
    row-gap: 3rem;
}
.containerInput {
    background: rgb(63, 61, 61);
    padding: .5rem;
    border-radius: .3rem;
}
.inputLetters {
    outline: none;
    border: none;
    border-bottom: 1px solid #fefefe;
    background: transparent;
    font-size: 2rem;
    text-align: center;
    padding: 0 2rem .5rem 2rem;
    color: #c0bdbd;
}
.testTyping {
    background: rgb(69, 66, 66);
    border-radius: 8px;
    padding: 1.5rem;
}
#quoteDisplay {
    color: #fefefe;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}
.buttonsFunction {
    background: rgb(49, 47, 47);
    padding: .5rem;
    border-radius: 8px;
}
.btns {
    padding: .5rem;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 8px;
    background: transparent;
    color: #fefefe;
    border: 1px solid #fefefe;
    font-size: 2rem;
    cursor: pointer;
    transition: .3s;
}
.btns:hover {
    background: #fefefe;
    color: rgb(72, 71, 71);    
}

#timer {
  color: #fefefe;
  font-size: 2rem;
  font-family: monospace;
}

.correct {
    color: rgb(11, 247, 3);
}
  
.incorrect {
    color: rgb(255, 10, 10);
    text-decoration: underline;
}

.containerHist {
    background: rgba(37, 35, 35, 0.521);
    backdrop-filter: blur(5px);
    width: 50%;
    height: 50%;
    border: 1px solid #fefefe;
    border-radius: .5rem;
    position: absolute;
    margin-top: 5%;
    margin-left: 5%;
}
.headerContainer__hist {
    display: flex;
    justify-content: end;
    padding: .5rem 1rem 0 0;
}
.headerContainer__hist i {
    color: #fefefe;
    font-size: 2.4rem;
    cursor: pointer;
    transition: .3s;
    padding: .2rem;
    border-radius: 8px;
}
.headerContainer__hist i:hover {background: rgb(34, 32, 32);}